<h1> All the movies will be showed here. </h1>
<!-- <%#= will_paginate %> -->
<ul class="movies">
    <%= render @movie %>
</ul>
<!-- <%#= will_paginate %> -->

<%= link_to "Book Movie", 'book', class: "btn btn-lg btn-primary" %>
