<li id="show-<%= show.id %>">
  <span class="user"><%= link_to show.movie.name, show.movie%></span>
  <%= link_to "Book Show", '/shows', class: "btn btn-lg btn-primary"  %>
  <span class="content"><%= show.GOLD_p %></span>
</li>
